p {
  margin-top: 20px;
  font-family: Georgia;
  font-size: 0.95em;
  line-height: 1.4em;
}


/* ----------------- Start Grid for full size ----------------- */

@media (min-width: 816px) {

.container {
  position: relative;
  width: 100%; /* max width of content */
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

  .column,
  .columns {
    margin-left: 4%; /* column gutter */
    float: left;
    box-sizing: border-box;
    }    
  
  .column:first-child,
  .columns:first-child {
    margin-left: 0; } /* prevents first column from acquiring a gutter on its left: typography 101 */

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

}
/* ----------------- End Grid for desktop screens ----------------- */



/* ----------------- Start Grid for medium break point ----------------- */

@media (min-width: 600px) and (max-width: 749px) {
.column, .columns {
  width: 48%;
  margin-left: 4%; /* column gutter */
  float: left;
  box-sizing: border-box;
}
.column, .columns:nth-of-type(odd) {
  margin-left: 0;
}
.boring {
  background: blue;
}

}

/* ----------------- End Grid for medium break point ----------------- */



/* ----------------- Start Grid for smallest break point ----------------- */

.container {
  position: relative;
  width: 100%;
  max-width: 960px; /* max width of content */
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* ----------------- End Grid for smallest break point ----------------- */




/* ----------------- Misc Grid Commands ----------------- */

/* Self Clearing Goodness: Fixes Issues with Float: Left; */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }